@import url("../default.css");

#gamemode-title{
    text-align: center;
}

#start-button, #htp-button{
    width: 8rem;
    height: 2rem;
    padding: 0.15rem;
    margin: 0.25rem;

    font-weight: 500;
}

#score-section{
    width: 65vw;
    margin: 2.5rem auto 0 auto;
}

#score-section > h3{
    margin: 0.25rem 0;
}

#game-grid{
    width: 65vw;
    background-color: black;

    border: 3px solid white;
    border-radius: 15px;

    margin: auto;

    overflow: hidden;
}